<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login/singin_css.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>PlatMe - ONIET</title>
</head>
<body>
    
    <div class="login-container">
        <div class="login">
            <div class="login-logo">
                <img src="{{ url_for('static',filename='src/moneda.png') }}" alt="logo">
            </div>

            <div class="login-header">
                <h1>REGISTRARSE</h1>
                <p>¡Bienvenido! Por favor, registrese para poder continuar</p>
            </div>

            <form class="login-form" method="post">
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">person</span>
                    <input type="text" placeholder="Ponga su usuario" required autofocus name="username">
                </div>

                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">lock</span>
                    <input type="password" placeholder="Ponga su contraseña" required name="password">
                </div>

                <button type="submit">Registrarse</button>
            </form>

            <div class="login-card-footer">
                <a href="{{ url_for('Login.login') }}">Ya tengo cuenta</a>
            </div>
        </div>
    </div>

</body>
</html>